<%= link_to gravatar_for(current_user, size: Settings.gravatar_size_2),
  current_user %>
<h1><%= current_user.name %></h1>
<span><%= link_to t("micropost.text2"), current_user %></span>
<span>
  <%= pluralize current_user.microposts.count, t("micropost.title") %>
</span>
