# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: f6b5de7b74d42ae73551c2a2e92362d9553eb4ff0c3f6c8d2f385361bcad24c805cc48369e0bc76db1b9b426f89ab3a5bfb1ae4f50e0d16f1f1158595331fe49

test:
  secret_key_base: 2ed0d69e5b848e433e1d058dcec56af7ad56eb19019576854190c8f712343212f0a8cba93b845b8336ac417c69ab5fa38d3424f06f2aa18dd50ce02ac3d4de98

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
