<footer class="footer">
  <small>
    <%= t("footer.content").html_safe %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("about.title"), about_path %></li>
      <li><%= link_to t("contact.title"), contact_path %></li>
      <li><%= link_to t("home.text4"), t("home.link3") %></li>
    </ul>
  </nav>
</footer>
